<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moonrock</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/app.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/fragments/menus :: top"></div>
    <div th:replace="/fragments/prices-bars :: top-bar"></div>
    <div class="row">
        <div th:replace="/fragments/menus :: left"></div>
        <div class="col-1"></div>
        <div class="col-3 text-center border border-secondary rounded mt-2">
            <h2>
                <span>Cena BTC</span>
                <br>
                <span class="badge badge-secondary" id="btcPrice"></span>
                <br>
                <br>
                <span>Aktualizacja</span>
                <br>
                <span class="badge badge-secondary" id="btcRefreshTime"></span>
            </h2>
        </div>
        <div class="col-1"></div>
        <div class="col-3 text-center border border-secondary rounded mt-2">
            <h2>
                <span>Cena ETH</span>
                <br>
                <span class="badge badge-secondary" id="ethPrice"></span>
                <br>
                <br>
                <span>Aktualizacja</span>
                <br>
                <span class="badge badge-secondary" id="ethRefreshTime"></span>
            </h2>
        </div>
    </div>
</div>
</body>
<script>
    connect();
</script>
</html>