<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moonrock</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/app.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="/fragments/menus :: top"></div>
    <div th:replace="/fragments/prices-bars :: top-bar"></div>
    <div class="row">
        <div th:replace="/fragments/menus :: left"></div>
        <div class="col-1"></div>
        <div class="col-6 mt-4 h4">
            <div th:if="${walletDto == null}">Brak adresu portfela</div>
            <div th:unless="${walletDto == null}">Adres portfela:
                <br>
                <span th:text="${walletDto.addr}"></span>
            </div>
            <br>
            <div th:if="${walletDto == null}">Stan portfela nieznany</div>
            <div th:unless="${walletDto == null}">Stan portfela:
                <br>
                <span th:text="${walletDto.amount}"></span> satoshi
            </div>
            <br>
            <div th:if="${apiKeyDto == null}">Klucz publiczny nie został dodany</div>
            <div th:unless="${apiKeyDto == null}">Klucz publiczny:
                <br>
                <span th:text="${apiKeyDto.apiPublicKey}"></span>
            </div>
            <br>
            <div th:if="${positionDtoList == null}">Brak aktualnych pozycji</div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div th:unless="${positionDtoList == null}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                    <!--    <th>Lp.</th>    -->
                        <th>Symbol</th>
                        <th>Size</th>
                        <th>Value</th>
                        <th>Entry Price</th>
                        <th>Mark Price</th>
                        <th>Liq. Price</th>
                        <th>Margin</th>
                        <th>Unrealised Pnl</th>
                        <th>UnrealisedPnl(ROE%)</th>
                        <th>Realised PNL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="positionDto: ${positionDtoList}">
                    <!--    <td th:text="${positionDtoStat.index + 1}"></td>  -->
                        <td th:text="${positionDto.symbol}"></td>
                        <td th:text="${positionDto.currentQty}"></td>
                        <td th:text="${positionDto.riskValue}"></td>
                        <td th:text="${positionDto.avgEntryPrice}"></td>
                        <td th:text="${positionDto.markPrice}"></td>
                        <td th:text="${positionDto.liquidationPrice}"></td>
                        <td th:text="${positionDto.maintMargin}"></td>
                        <td th:text="${positionDto.unrealisedGrossPnl}"></td>
                        <!-- //todo update unrealisedPnlPcnt to real % after modify positionDto class-->
                        <td th:text="${positionDto.unrealisedPnlPcnt}"></td>
                        <td th:text="${positionDto.realisedPNL}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    connect();
</script>
</html>